#cabeçalho {
    list-style-type: none;
    background-color: #021b30;
   height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
  }
  
  #menu {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  #menu a {
    text-decoration: none;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: x-large;
  
  }
  
  #menu li {
    display: inline;
  }
  
  
  .logo {
    margin-left: 480px;
    margin-right:10px;
    width: 70x;
   height: 70px;
   }
  
   
   .ajuda {
    color: white;
    font-family: 'Lexend Exa', sans-serif;
    font-size: x-large;
    white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
    margin-left: 570px;
    margin-right: 70px;
   
  }
  
 
  .search-container {
    width: 100%; /* Largura total */
    text-align: center; /* Centralizar horizontalmente */
  }
  
  .input {
    width: 500px; /* Largura desejada */
    background-color: #f5f5f523;
    color: #000000;
    padding: 0.5rem 1rem; /* Espaçamento interno ajustado */
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 20px;
  }
  
  
  input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 40px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-family: 'Lexend Exa', sans-serif;

}

th {
    background-color: #f2f2f2;

}

.excluir-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.tabelap{
  display: flex;
  justify-content: center;
  font-family: 'Lexend Exa', sans-serif;
  margin-top: 40px;
}

.bp{
  display: flex;
  justify-content: center;
  }

  .bpt {
    background: #4B5842;
    font-family: 'Lexend Exa', sans-serif;
    color: white;
    border-radius: 15px;
    padding: 10px;
  }
 
  #retornar {
    position: fixed;
    top: 10px;
    left: 5px;
    background-color: #111B4D;
    font-size: 60px;
    height: 115px;
    width: 100px;
    margin-left: 10px;
    align-self: self-start;
    color: #D9D9D9;
    background: none;
    border: none;
    cursor: pointer; 
  margin-left: 20px;
    margin-right: 250px;
    margin-top: 05px;
  }
  #retornar i:hover{
    transform: scale(1.05);
    transition: box-shadow 1.2s ease;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.396);
    color: #bebebe;
  }
  #retornar a:visited{
    position: fixed;
    top: 10px;
    left: 5px;
    background-color: #111B4D;
    font-size: 60px;
    height: 115px;
    width: 100px;
    margin-left: 10px;
    align-self: self-start;
    color: white;
    background: none;
    border: none;
    cursor: pointer; 
  }
  #retornar i:hover{
    transform: scale(1.05);
    transition: box-shadow 1.2s ease;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.396);
    color: #bebebe;
  }
  #retornar a:visited{
    color: #f8f2f2;
  }

  #retornar a:link{
    color: #f8f2f2;
  }
 
