

main {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    }
    
    
    .content {
    flex: 1;
    background-color: white;
    padding: 0px;
    height: 100%;
    }
    #pergunta{
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    color: black;
    }
    #pergunta2{
    text-align: center;
    font-size: larger;
    color: white;
    }
    #aside {
      background-color: #111B4D;
      width: 300px;
      height: 100%;
     display: flex;
     justify-content: flex-start;
    
     font-family: 'Lexend Exa', sans-serif;
     }
    ul {
    list-style-type: none;
    }
    li{
    margin-right: auto;
    margin-left: 20px;
    list-style: none;
    font-size: 34px;
    }
   
   
    #btn-duvidas {
      color: #021B31;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      border: none;
      margin: 0 auto;
      margin-top: 30px;
      cursor: pointer;
      display: block;
      font-size: large;
      box-shadow: 5px 5px 5px  #bebebe; /* Adicionando a cor cinza à sombra */
      width: 130px;
      border-radius: 16px;
      transition: transform 0.3s; /* Adicione uma transição para suavizar o efeito */
    }
    
    #btn-duvidas:hover {
      transform: scale(1.04); /* Efeito de escala no hover */
    }
    #aside-content{
    max-height: 97vh;
    overflow-y: auto;
    font-size: 20px;
    background-color: white;
    color: #021B31;
    list-style: none;
    height: 100%;
   
    }
    .rectangle{
    border: 1px solid #ccc;
    height: 100%;
    background-color: #d9d9d9;
    padding: 10px;
    transition: transform 0.3s;
    display: flex;
   justify-content: left;
   text-decoration: none;
   color: #021B31;
    }
    
  .rectangle:hover{
    transform: scale(1.04); 
  }
   
  #cabeçalho {
    list-style-type: none;
    background-color: #021b30;
   height: 130px;
    display: flex;
    
  
  
   width: 100%;
  }
  
  #menu {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  #menu a {
    text-decoration: none;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: x-large;
  
  }
  
  #menu li {
    display: inline;
  }
  
  
  .logo {
    margin-left:400px;
    
    width: 70x;
   height: 70px;
   }
  
   
   .ajuda {
    color: white;
    font-family: 'Lexend Exa', sans-serif;
    font-size: x-large;
    white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
    margin-left: 520px;
    margin-right: 140px;
    margin-top: 10px;
   
   
  }
  
  #retornar {
  
   
    background-color: #111B4D;
    font-size: 60px;
    height: 115px;
    width: 100px;
    margin-left: 20px;
    align-self: self-start;
    color: #D9D9D9;
    background: none;
    border: none;
    cursor: pointer; 
  
  
  }
  #retornar i:hover{
    transform: scale(1.05);
    transition: box-shadow 1.2s ease;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.396);
    color: #bebebe;
  }
  #retornar a:visited{
   
  
    left: 5px;
    background-color: #111B4D;
    font-size: 60px;
    height: 115px;
    width: 100px;
  
    align-self: self-start;
    color: white;
    background: none;
    border: none;
    cursor: pointer; 
  }
  #retornar i:hover{
    transform: scale(1.05);
    transition: box-shadow 1.2s ease;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.396);
    color: #bebebe;
  }
  #retornar a:visited{
    color: #f8f2f2;
  }
  
  #retornar a:link{
    color: #f8f2f2;
  }
  
  footer{
    padding: 10px 4%;
    box-shadow: 0 0 60px 10px gray ;
   justify-content: flex-start ;
  
  }
  
  
  
  .line-footer a{
     text-decoration: none;
     font-family: 'Questrial', sans-serif;
     color: #021b30;
     margin-top: 80px;
  }